<div class='marquee'>
<!-- this loop is necessary to iterate through the array passed in @streams -->
<!-- Using jquery plugin for scrolling ticker: http://aamirafridi.com/jquery/jquery-marquee-plugin -->
		<% @streams.each do |stream| %>
		    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="<%= stream.link %>", target=blank><%= stream.content %> .....</a>
		<% end %>

</div>

