
  <meta charset="utf-8" />

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>Men's Discipleship Network</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

  <!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
<link rel="shortcut icon" href="/mdn_favicon.png" />
<!--  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />   -->

	<%= stylesheet_link_tag "application" %>
	<%= javascript_include_tag "application" %>
  	<%= csrf_meta_tag %>

<!-- Insert Fonts Here -->
<link href='http://fonts.googleapis.com/css?family=Stardos+Stencil:400,700' rel='stylesheet' type='text/css'>
	  
<!-- Google Analytics - Start -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32607130-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<!-- Google Analytics - End -->

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- might be able to remove this once media queries code is working >
<script>
// Courtesy of SimplytheBest.net - http://simplythebest.net/scripts/
var browser_type=navigator.appName
var browser_version=parseInt(navigator.appVersion)
if (browser_type=="Microsoft Internet Explorer"&&browser_version<9)
	alert ("Please update your browser to enjoy all the features of the Men's Discipleship Network web site. We recommend Firefox, Safari, or Internet Explorer 9.");
</script>

<script type="text/javascript">
		jQuery(document).ready(function() {
			$(".fancybox").fancybox({
				openEffect	: 'none',
				closeEffect	: 'none'
			});
		});
</script>

<!-- sharethis.com scripts -->
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "cd9e2436-a5bd-4214-9f43-909c737b6bc7"}); </script>

