
		    <div class="menu">
				<ul class="nav">
					<li class="drop"><a class="sub-link" href="#url"><b class="top">Support MDN</b></a>
		                <ul>
		                    <li><a href="/pages/donate"><b>Donate Here</b></a></li>
		                    <li><a href="/pages/sponsors"><b>Our Sponsors</b></a></li>
		      			</ul>
					</li>
				 </ul>
		        <ul class="nav">
		            <li class="drop"><a class="sub-link" href="#url"><b class="top">About Us</b></a>
		                <ul>
		                    <li><a href="/pages/about"><b>History</b></a></li>
							<li><a href="/pages/about#founder_desc"><b>Our Founder</b></a></li>
							<li><a href="/pages/about#mission_desc"><b>Mission Statement</b></a></li>
		                    <li><a href="/pages/about#belief_desc"><b>Beliefs</b></a></li>
		                    <li><a href="/pages/elderboard"><b>Elder Board</b></a></li>
		                    <li><a href="/pages/contact"><b>Contact Us</b></a></li>
		                </ul>
		            </li>
		        </ul>
				<ul class="nav">
		            <li class="drop"><a class="sub-link" href="#url"><b class="top">About Men</b></a>
		                <ul>
		                   	<li><a href="/pages/manstat"><b>Man-Stats</b></a></li>
		                    <li><a href="/pages/mannerisms"><b>Man-nerisms</b></a></li>
							<li><a href="/pages/parable"><b>Man-Life Parables</b></a></li>
		                </ul>
		            </li>
		        </ul>
				<ul class="nav">
		            <li class="drop"><a class="sub-link" href="#url"><b class="top">MDN Ministries</b></a>
		                <ul>
		                    <li><a href="/pages/system"><b>MDN Discipleship System<sup>&#153;</sup></b></a></li>
							<li><a href="/pages/bootcamp"><b>Discipleship Boot Camps<sup>&#153;</sup></b></a></li>
		                    <li><a href="/pages/curriculum"><b>W.E.A.P.O.N.S. Curriculum<sup>&#174;</sup></b></a></li>
							<li><a href="/radio_programs/ankom"><b>Radio</b></a></li>
							<li><a href="/pages/leadership"><b>Bible Studies</b></a></li>
							<li><a href="/pages/bof"><b>Businessmen of Faith<sup>&#153;</sup></b></a></li>
		                </ul>
		            </li>
		        </ul>
				<ul class="nav">
					<li class="drop"><a class="sub-link" href="#url"><b class="top">The Coaches</b></a>
		                <ul>
		                    <li><a href="/pages/coaches#what_is"><b>What is a Coach?</b></a></li>
							<li><a href="/pages/coaches#coaches"><b>Meet the Coaches</b></a></li>
		      			</ul>
					</li>
				 </ul>
				
				<ul class="nav">
		            <li class="drop"><a class="sub-link" href="#url"><b class="top">News</b></a>
		                <ul>
		                   	<li><a href="/events/events"><b>Upcoming Events</b></a></li>
		                    <li><a href="/announcements/announcements"><b>Announcements</b></a></li>
							<li><a href="/galleries/list"><b>Photo Gallery</b></a></li> 
		                </ul>
		            </li>
		        </ul>
				<ul class="nav">
		            <li class="drop"><a class="sub-link" href="#url"><b class="top">Resources</b></a>
		                <ul>
							<li><a href="/pages/curriculum"><b>W.E.A.P.O.N.S. Curriculum<sup>&#174;</sup></b></a></li>
							<li><a href="/books/books"><b>Top 25 Books for Men</b></a></li>
		                   	<li><a href="/resources/resources"><b>Resources</b></a></li>
							<li><a href="/movies/browser"><b>Video Browser</b></a></li>
		                   	<li><a href="/radio_programs/ankom#programs"><b>Radio Archives</b></a></li>
		                </ul>
		            </li>
		        </ul>
				 <ul class="nav">
			            <li><a href="/"><b class="top">Home</b></a></li>
			    </ul>
				
		    </div>
	
	<!-- END NAVIGATION LINKS -->