	<div>
		<div id="top-nav"></div>
        <div id="logo"><%= image_tag("logos/mdn_logo_wh.png", :width =>'276', :height =>'90', :alt => "Men's Discipleship Network Logo")%></div>
        <div id="mdn_bookstore"><a href="http://mdn.christianbook.com" target="self"><%= image_tag("promos/mdn_bookstore.png", :alt => 'MDN Bookstore') %></a></div>
        <div id="white_bar"></div>
        <div id="lower-nav"></div>
        <!-- <div id="donate-badge"> <a href="/pages/donate"><img src="/images/donate/donate-badge.gif"> </a></div> -->
        <!-- Once all the logic is complete, remove this comment to activate user login links -->
        
		<%# render "/shared/login" %>
    </div> <!-- end of header -->
    
<!-- NAVIGATION LINKS GO HERE -->
     <%= render "/shared/menu"	 %>