		<div id="promos">
			<div id="share_sidebar">
				<span class='st_sharethis'></span>
				<span class='st_twitter'></span>
				<span class='st_linkedin'></span>
				<span class='st_email'></span>
				<span class='st_facebook'></span>
				<span class='st_fblike' id="fblike"></span>
			</div>
			<!-- To insert graphics, edit desktop.css for each div tag and change background image -->
			<div id="promo1" class="promo_block"><%= render_cell :quote, :display, :quote => @quote %></div>

			<div id="promo3" class="promo_block" onClick="window.open('/pages/curriculum')"></div>
			<div id="promo4" class="promo_block" onClick="window.open('http://www.covenanteyes.com/?promocode=god4me')"></div>
			<!-- <div id="promo5" class="promo_block"><a href="/pages/bof" target="self"><img src="/images/announcements/bof_featured_graphic.gif" width="240" height="275"></a></div> -->	
			<div ><%= render_cell :book_ad, :display, :books => @books %></div>
			<div id="promo2" class="promo_block" onClick="window.open('/pages/donate')"></div>
		</div>