</br>
<p id="notice"><%= notice %></p>

<p>Thank you. Your request for a Coach has been received. We will contact you within 48 hours. 
	Remember...Men don't get what they wish for, they get what they <em>Prepare</em>, <em>Train</em>, and <em>Live for</em>!<p></br>
	
<p>Want a training curriculum that will engage and train your men to be consistently Christ-like? You want to give your men W.E.A.P.O.N.S. 101 Intensive <sup>&#174;</sup>. Inspired by Scripture, Taught by You.<sup>&#153;</sup><p>
	
	<a href="/pages/curriculum"><%= image_tag("curriculum/weapons_set_top_image.jpg", :width => '600', :alt => 'Photo of the WEAPONS training curriculum for men. This image shows the DVDs, manuals, and box that comes in the kit')%></a>
<p><%= link_to 'Home', root_path %></p>
