<h1>Request a Coach Speak to your church or Men's Group</h1>
<br/>
<p>Men's Discipleship Network is committed to assisting the Church with it's mission of reaching and training it's men. One of the ways MDN can help you is by having MDN trained Coaches working along side your church's Pastor or Men's Leader to train him on how to minister to the unique needs of Men. If you would like to request an MDN Coach, and you are the Pastor or Men's Leader of your church, please use the form below to submit your request. We will contact you within 48 hours to discuss your request.</p><br/>
	
<p>Thank you for your request. Remember...Men don't get what they wish for, they get what they <span style="font-weight:bold">Prepare, Train, and Live for!</span></p><br />

<p>May God Bless You,<br/>
	<br/>
	Coach Scott Caesar<br/> Founder of Men's Discipleship Network</p></br>

<%= render 'form' %>

<%= link_to 'Back', requests_path %>
