<div id="top-image">
	<%= image_tag("prayer/prayer_top_image.jpg", :width => '730', :height => '295', :alt => 'Men standing and with MDN coaches at an MDN Discipleship Boot Camp')%>
</div>
<h1>Share Your Prayer with Our Prayer Community</h1>
</br>
<p>“Therefore, confess your sins to one another, and pray for one another so that you may be healed. The effective
prayer of a righteous man can accomplish much.” James 5:16</p>
</br>
<p>Please share your prayer in the form provided below. As soon as your prayer has been reviewed by our prayer team
it will be activated on the prayer ticker. Please keep your prayer less than 75 words. The Lord knows all the details.
Also, please refrain from using full names when referring to people you are praying for. Again, the Lord knows exactly
who you are praying for.</p>
</br>
<p>MDN will use your first name, city, and prayer request or praise report when posting to our prayer marquee. No other information will be posted. </p>
</br>
<h2>New prayer</h2>
</br>
<%= render 'form' %>

<%= link_to 'Back', root_path %>
