<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- This is the standard <head> section -->
		<%= render "/shared/header" %>
	</head>
	<body class="clearfix homepage_content">
		<div id="maroon_bar_a"></div>
		<div id="black_bar_a"></div>
		<div id="white_bar_a"></div>
		<div id="beige_bar_a"></div>
		<div id="container" class="clearfix">
	    	<div id="navbar" class="clearfix">
				<!-- This is the nav section of the page -->
				<%= render "/shared/navbar" %>
			</div> 
			
			<div id="content" class="clearfix">
				<div id="homepage_content" class="clearfix">
					<%= yield %>
				</div>
			</div> 
		</div>
	</body>
</html>
